@media screen and (min-width: 0px) and (max-width: 720px) {
    /* MEIO */
body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(#19171B, #0A0A0C); 
}

main{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

div{
    color: white;
}

/* IMAGEM */
div.img{

    background-image: url(logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:  contain;
    width: 70vw;
    height: 20vh;
}

/* RESULTADO */
button{

    background-color: green;
    border: none;
    padding: 10px;
    border-radius: 8px;
    width: 60vw;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    transform: scale(1.05);
}

input[type="range"]{
    width: 60vw;
}

 #container-password-hide{
    display: none;
    color: white;
    text-align: center;
    margin: 14px 0;
    cursor: pointer;
    width: 60vw;
}

#title{
    font-size: 23px;
    margin: 10px 0 10px 0;
}

#password{
    background-color: rgba(0, 0, 0, 0.733);
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #313131;
    transition: transform 0.5s;
    margin-bottom: 10px;
}

#password:hover{
    transform: scale(1.05);
}

#copy{
    background-color: rgba(0, 0, 0, 0.575);
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

#container-password-hide:hover #copy{
    opacity: 1;
    visibility: visible;
}
}