@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /*border: 1px solid red;*/
}

#container-header{
    position: sticky;
    top: -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.37);

    height: 90px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.445);
}

#container-header:hover{
    background-color: white;

}


#container-main{
    display: flex;
}

.img{
    display: flex;
    background-image: url(../imagens/natureza\ pag01.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    height: 550px;
    width: 99vw;

    color: white;
    font-size: 4em;
    align-items: center;
    text-align: center;
    font-weight: bolder;
}