@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: white;
    position: absolute;
}

div#tudo>h1{
    color: green;
    text-align: center;
}

div#tudo>p{
    text-align: center;
}

main{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;

    padding: 10px;
    width: 60vw;
}

div.input{
    background-color: #D2DDD5;
    padding: 5px;
    border-radius: 8px;
    margin: 10px 0;
}

form>div.input>input{
    padding: 5px;
    background-color: #D2DDD5;
    width: 40vw;
    border: none;
    border-radius: 8px;
    
}
span.material-symbols-outlined{
    color: rgb(0, 94, 0);
}

form>section>div.lembrar{
    float: left;
    width: 200px;
    height: 0px;
    font-size: 12px;
    line-height: 50%;
    padding: 5px;
    margin: 5px 0;
}
form>section>div.link{
    float: right;
    width: 80px;
    height: 0px;
    font-size: 10px;
    padding-top: 15px;
}

form>section>div.link>a{
    text-decoration: none;
    color: green;
}

form>section>div.link>a:hover{
    text-decoration: underline;
    color: green;
}

form>div.enviar{
    background-color: aqua;
    margin-top: 40px;
    text-align: center;
}
body>main>div.tudo>form>div.enviar>input[type=submit]{
    background-color: blueviolet;
    color: blue;
}

